#{{ ansible_managed }}

{% for v in nginx_configs[item] %}
{% if v.find('\n') != -1 %}
{{v}}
{% else %}
{% if v[0:10] == 'add_header' %}
{{v}};
{% else %}
{% if v != "" %}{{ v.replace(";",";\n   ").replace(" {"," {\n    ").replace(" }"," \n}\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}{% endif %}
{% endfor %}
