AWS_ENV="test"
CAKE_AWS_ACCESS_KEY_ID=
CAKE_AWS_SECRET_ACCESS_KEY=
CAKE_AWS_REGION="us-west-2"
CAKE_AWS_VPC_ID=
CAKE_SUBNET_ID=
CAKE_KEY_NAME=
CAKE_KEY_PATH=
# ubuntu-14.04
CAKE_EC2_AMI="ami-d94f5aa0"
CAKE_INSTANCE_TYPE="t2.micro"
